@page
@model InscriptionModel
@{
}
<br />
<br />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 encadreinsc">
        <form action="" method="post">
            <h2>Inscription</h2>
            <br />
            <br />
            <div class="col-md-1">
            </div>
            <div class="col-md-5">
                <div>
                    <div>
                        <label for="login">Login :</label><br />
                        <input type="text" id="login" name="user_login">
                    </div>
                    <br />
                    <div>
                        <label for="mdp">Mot de passe :</label><br />
                        <input type="password" id="mdp" name="user_mdp">
                    </div>
                    <br />
                    <div>
                        <label for="mdp">Mot de passe :</label><br />
                        <input type="password" id="mdp" name="user_mdp">
                    </div>
                    <br />
                    <div>
                        <label for="mdp">Mail :</label><br />
                        <input type="email" id="mail" name="user_mail">
                    </div>
                    <br />
                    <br />
                </div>
            </div>
            <div class="col-md-5">
                <div>
                    <div>
                        <label for="login">Login :</label><br />
                        <input type="text" id="login" name="user_login">
                    </div>
                    <br />
                    <div>
                        <label for="mdp">Mot de passe :</label><br />
                        <input type="password" id="mdp" name="user_mail">
                    </div>
                    <br />
                    <div>
                        <label for="login">Login :</label><br />
                        <input type="text" id="login" name="user_login">
                    </div>
                    <br />
                    <div>
                        <label for="mdp">Mot de passe :</label><br />
                        <input type="password" id="mdp" name="user_mail">
                    </div>
                    <br />
                    <br />

                </div>
            </div>
            <div class="col-md-1">
            </div>
            <div class="button">
                <button type="submit">Connexion</button>
            </div>
        </form>
        <br />
    </div>
    <div class="col-md-2">
    </div>
</div>
