@page
@model TemplatescreaModel
@{
}
<br />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

        <br />
        <input class="cat" type="text" id="cat1" name="cat1" placeholder="categorie 1">
        <br /><br />
        <input class="sscat" type="text" id="souscat1" name="souscat1" placeholder="souscat1">
        <br /><br />
        <input class="sscat" type="text" id="souscat1" name="souscat1" placeholder="souscat1">
        <br /><br />
        <input class="sscat" type="text" id="souscat1" name="souscat1" placeholder="souscat1">
        <br />

        <br />
        <input class="cat" type="text" id="cat2" name="cat2" placeholder="categorie 2">
        <br /><br />
        <input class="sscat" type="text" id="souscat2" name="souscat2" placeholder="souscat2">
        <br /><br />
        <input class="sscat" type="text" id="souscat2" name="souscat2" placeholder="souscat2">
        <br /><br />
        <input class="sscat" type="text" id="souscat2" name="souscat2" placeholder="souscat2">
        <br />

        <br />
        <input class="cat" type="text" id="cat3" name="cat1" placeholder="categorie 3">
        <br /><br />
        <input class="sscat" type="text" id="souscat3" name="souscat3" placeholder="souscat3">
        <br /><br />
        <input class="sscat" type="text" id="souscat3" name="souscat3" placeholder="souscat3">
        <br /><br />
        <input class="sscat" type="text" id="souscat3" name="souscat3" placeholder="souscat3">
        <br />

        <br />
        <input class="cat" type="text" id="cat4" name="cat4" placeholder="categorie 4">
        <br /><br />
        <input class="sscat" type="text" id="souscat4" name="souscat4" placeholder="souscat4">
        <br /><br />
        <input class="sscat" type="text" id="souscat4" name="souscat4" placeholder="souscat4">
        <br /><br />
        <input class="sscat" type="text" id="souscat4" name="souscat4" placeholder="souscat4">
        <br />

    </div>
    <div class="col-md-2">
        <button type="submit">Créer le template</button>
    </div>
</div>