@page
@model TemplatesModel
@{
}
<br />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form action="" method="post">
            <div class="col-md-7">
                <div>
                    <div href="#" cursor="pointer" class="encadre">
                        <h2>Utiliser un template</h2>
                    </div>
                    <br />
                    <div href="#" class="encadre">
                        <h2>Créer un template</h2>
                    </div>
                    <br />
                    <div href="#" class="encadre">
                        <h2>Modifier un template</h2>
                    </div>
                    <br />
                    <div href="#" class="encadre">
                        <h2>Supprimer un template</h2>
                    </div>
                    <br />
                    <div href="#" class="encadre">
                        <h2>Consulter un template</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>